@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    /* width: 100%; */
    height: 700px;
    background-color: #23242a;
    font-family: "Roboto", serif;
    /* color: #ffff; */
}

/********** navbar css  ****************/

.navbar {
    color: #ffff;
    display: flex;
}

.navbar img {
    width: 100px;
    margin: 20px 20px;
}

.navbar ul {
    list-style-type: none;
    color: #d1dce5;
    margin-left: 850px;
    padding: 30px;
    gap: 40px;
    display: flex;
}

.navbar ul button {
    padding: 5px;
    width: 100px;
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 5px;
    background-color: #23242a;
    margin-top: -10px;
}

.navbar ul button:hover {
    background-color: red;
}

/*************** heading css ****************/

.head {
    color: #ffff;
    text-align: center;
    margin-top: 100px;
}

.head p {
    font-size: 30px;

}

.head h1 {
    font-size: 70px;
    margin-top: 20px;
}

.head button {
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin: 50px;
    padding: 15px;
    width: 180px;
}

/**************** Boxes css ******************/

.boxes {
    display: flex;
    padding-left: 50px;
}

.boxes div {
    width: 350px;
    height: 330px;
    margin: 80px 10px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.box1 p,
.box1 h1,
.box1 a {
    margin: 30px 50px;
}

.box1 p,
.box1 a {
    font-size: large;
}



.box2 p,
.box2 h1,
.box2 a {
    margin: 30px 50px;
}

.box2 p,
.box2 a {
    font-size: large;
}

.box3 p,
.box3 h1,
.box3 a {
    margin: 30px 50px;
}

.box3 p,
.box3 a {
    font-size: large;
}

.box4 p,
.box4 h1,
.box4 a {
    margin: 30px 50px;
}

.box4 p,
.box4 a {
    font-size: large;
}

.box1 a,
.box2 a,
.box3 a,
.box4 a {
    text-decoration: none;
    color: gray;
}

.box1 a:hover,
.box2 a:hover,
.box3 a:hover,
.box4 a:hover {
    color: #1701CD;
    text-decoration: underline;
    cursor: pointer;
}

/******************* Double sidebar *********************/

.sidebar {
    display: flex;
    padding-left: 100px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.sidebar h1 {
    font-size: 3em;
    margin: 30px 20px;
}

.sidebar p {
    font-size: x-large;
    margin: 30px 20px;
}

.sidebar a {
    margin: 30px 20px;
    text-decoration: none;
    color: gray;
}

.sidebar a:hover {
    color: #1701CD;
    text-decoration: underline;
    cursor: pointer;
}

.sidebar img {
    height: 500px;
    width: 100%;
    border-radius: 10px;

}

/********************** Double sidebar1 *************************/

.sidebar1 img {
    height: 600px;
    width: 100%;
    border-radius: 10px;
}

.sidebar1 {
    display: flex;
    padding-left: 100px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}

.sidebar1 h1 {
    font-size: 3em;
    margin: 30px 20px;
}

.sidebar1 p {
    font-size: x-large;
    margin: 30px 20px;
}

.sidebar1 a {
    margin: 30px 20px;
    text-decoration: none;
    color: gray;
}

.sidebar1 a:hover {
    color: #1701CD;
    text-decoration: underline;
    cursor: pointer;
}

/****************** Content css **********************/

.mainCont {
    padding-left: 200px;
    align-self: center;
}

.cont h1 {
    font-size: 3em;
    padding-top: 200px;
}

.cont p {
    font-size: 1.3em;
    padding-top: 50px;
}

.sideBarCont {
    display: flex;
    padding-top: 50px;
    column-gap: 20px;
}

.sideImg img {
    width: 40px;
}

.sideImgCont h1 {
    font-size: 2em;
}

.sideImgCont p {
    font-size: medium;
    padding-top: 10px;
}

.sideImg1 {
    padding-left: 100px;
}

.sideImg1 img {
    width: 40px;
}

.sideImgCont1 h1 {
    font-size: 2em;
}

.sideImgCont1 p {
    font-size: medium;
    padding-top: 10px;
}

/************************* Center box ***********************/

.centerBoxMain {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.centerBox {
    width: 70%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
    background-color: #23242a;
    border-radius: 10px;
}

.centerBox h1 {
    font-size: 2em;
}

.centerBox p {
    font-size: large;
    padding-top: 20px;
}

.centerBox button {
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin: 50px;
    padding: 15px;
    width: 180px;
}

/******************* Parah and link *************************/

.parah {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 200px;
}

.parah h1 {
    font-size: 2em;
}

.parah a {
    font-size: large;
}

/************************** Boxes1 ***************************/

.boxes1 {
    display: flex;
    justify-content: center;
    height: 300px;
}

.bx {
    position: relative;
    width: 300px;
    height: 330px;
    margin: 80px 10px;
    padding: 40px 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(197, 182, 182, 0.2)
}

.bx p {
    padding-top: 30px;
}

.bx div a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.bx a:hover {
    color: #1701CD;
    text-decoration: underline;
    cursor: pointer;
}

.bx1 {
    position: relative;
    width: 300px;
    height: 330px;
    margin: 80px 10px;
    padding: 40px 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(197, 182, 182, 0.2)
}

.bx1 p {
    padding-top: 30px;
}

.bx1 div a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.bx1 a:hover {
    color: #1701CD;
    text-decoration: underline;
    cursor: pointer;
}

.bx2 {
    position: relative;
    width: 300px;
    height: 330px;
    margin: 80px 10px;
    padding: 40px 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(197, 182, 182, 0.2)
}

.bx2 p {
    padding-top: 30px;
}

.bx2 div a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.bx2 a:hover {
    color: #1701CD;
    text-decoration: underline;
    cursor: pointer;
}

/********************** Content1 with image css **********************/

.content1 {
    padding-top: 300px;
    text-align: center;
}

.content1 h1 {
    font-size: 3em;
}

.content1 p {
    font-size: 1.33em;
    padding-top: 30px;
}

.content1 img {
    margin-top: 50px;
    border-radius: 10px;
    width: 150vh;  
    height: 65vh;
} 

/********************** Double sidebar2 with images css ********************/

.main-sidebar2 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-right: 50px;
}

.sidebar2 .images {
    display: flex;
} 

.sidebar2 .img1 img {
    width: 55vh;
    border-radius: 10px;
    margin: 50px 50px;
}

.sidebar2 .img2 img {
    width: 35vh;
    border-radius: 10px;
    margin-right: 50px;
}

.sidebar2 .cont h1, .sidebar2 .cont p {
    padding-left: 55px;
    padding-top: 30px;
}



.main-sidebar2 .side-img img {
    width: 45vh;
    border-radius: 10px;
    margin-top: 60px;
}

/************************ Double sidebar3 with images css ***************************/

.main-sidebar3 {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    padding-right: 60px;
}

.sidebar3 img {
    width: 50vh;
    height: 60vh;
    border-radius: 10px;
    margin: 300px 80px;
}

.main-sidebar3 .side-img {
    margin-left: -50px;
}

.main-sidebar3 .side-img img {
    width: 95vh;
    height: 50vh;
    border-radius: 10px;
    margin-top: 40px;
}

/************************ Double sidebar4 with images css ***************************/

.main-sidebar4 {
    display: flex;
    justify-content: center;
    padding-left: 120px;
    margin-top: -50px;
}

.main-sidebar4 .cont .side-img img {
    width: 80vh;
    border-radius: 10px;
    margin-top: 50px;
}

.main-sidebar4 .sidebar-img img {
    width: 55vh;
    border-radius: 10px;
    margin: 200px 100px;
}

/************************ Content2 css **************************/

.main-content2 {
    margin-top: -200px;
}

.main-content2 .cont {
    text-align: center;
}

.main-content2 .cont h1 {
    font-size: 2em;
}

.main-content2 .tag {
    display: flex;
    justify-content: center;
    padding-right: 450px;
    padding-top: 40px;
}

.tag .tag-cont {
    padding-left: 30px;
    padding-top: 10px;
}

.tag .tag-cont p {
    font-size: large;
}

.main-content2 .tag img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/******************************* slider image css *******************************/

.main-slider {
    padding-top: 200px;
}

.main-slider img {
    width: 100%;
}

/******************************** Content3 css ********************************/

.main-content3 {
    padding-top: 200px;
    text-align: center;
}

.main-content3 h1 {
    font-size: 3em;
}

.main-content3 p {
    font-size: x-large;
    padding-top: 50px;
}

/******************************** Ceo images css *******************************/

.main-ceo-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
}

.main-ceo-images .ceo1-img img {
    width: 38vh;
    height: 40vh;
    border-radius: 10px;
}

.main-ceo-images .ceo2-img img {
    width: 38vh;
    height: 40vh;
    border-radius: 10px;
}

.main-ceo-images .ceo3-img img {
    width: 38vh;
    height: 40vh;
    border-radius: 10px;
}

.main-ceo-images .ceo4-img img {
    width: 38vh;
    height: 40vh;
    border-radius: 10px;
}

.main-ceo-images h2 {
    text-align: center;
    padding-top: 20px;
}

.main-ceo-images p {
    text-align: center;
    font-size: large;
}

/******************************* Double sidebar5 css ****************************/

.main-sidebar5 {
    display: flex;
    padding-top: 200px;
}

.main-sidebar5 .side-img img {
    width: 110vh;
}

.main-sidebar5 .cont {
    padding-left: 70px;
}

.main-sidebar5 .cont h1 {
    font-size: 4em;
}

.main-sidebar5 .cont button {
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
    background-color: #0070fe;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px;
    width: 200px;
}

/******************************** Bottom border *********************************/

.main-bottom p {
    padding-left: 150vh;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bolder;
}

.main-bottom hr {
    margin-top: -5px;
}